@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}
.screen {
  max-width: 1280px;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(39, 37, 86);

  /* border-radius: 50px; */
}

@media (max-width: 840px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
